*{
    margin: 0;
    padding: 0;
}

img{
    width: 300px;
    object-fit: cover;
    transition: transform 0.8s;
    width: 100%; 
    height: 90%;
}
img:hover{
    transform: scale(1.5);
}
.content{
    box-shadow: rgba(104, 196, 183, 0.2) 0px 2px 8px 0px;
    width: fit-content;
    padding: 20px;
    overflow: hidden;
    border: 1px solid black;
}
.content:hover{
    flex-grow: 1;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid columns */
    gap: 20px; /* Space between the items */
    justify-items: center; /* Center the items */
    padding: 10px;
}
.heading{
    text-align: center;
    margin: 20px;
    color: rgb(0, 43, 43);
}